name: Build PyCharm Plugin

on:
  release:
    types: [created, published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    
    - name: Build plugin
      run: |
        cd plugin
        ./gradlew buildPlugin
    
    - name: Get plugin version
      id: plugin_version
      run: |
        cd plugin
        VERSION=$(grep "^version" build.gradle.kts | cut -d'"' -f2)
        echo "version=$VERSION" >> $GITHUB_OUTPUT
    
    - name: Upload plugin artifact
      uses: actions/upload-artifact@v3
      with:
        name: picocode-plugin-${{ steps.plugin_version.outputs.version }}
        path: plugin/build/distributions/*.zip
    
    - name: Upload to Release
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v1
      with:
        files: plugin/build/distributions/*.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
